.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .title {
        font-size: 28px;
        margin-bottom: 25px;
        font-weight: 700;
        cursor: pointer;
    }
    .preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }
}

/* Media query for screens smaller than 768px */

@media (max-width: 768px) {
    .category-preview-container {
        .preview {
            grid-template-columns: repeat(2, 1fr);
            padding: 10px;
            /* Change to 2 columns */
        }
    }
}

/* Media query for screens smaller than 480px */

@media (max-width: 480px) {
    .category-preview-container {
        .preview {
            grid-template-columns: 1fr;
            padding: 10px;
            /* Change to 1 column */
        }
    }
}
