body {
    margin: 0;
    padding: 20px 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        padding: 20px 10px;
    }
}